---
import RecipeMetadata from "../../components/RecipeMetadata.vue";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { shortFormatCookingDuration } from "../../utils/format-cooking-time";
import { getSlugFromFileUrl } from "../../utils/get-slug";

export async function getStaticPaths() {
  const recipes = await Astro.glob("../../recipes/*.md");

  const pages = recipes.map(({ file }) => ({
    params: { id: getSlugFromFileUrl(file) },
  }));

  return pages;
}

const { id } = Astro.params;

const {
  frontmatter: {
    title,
    cooking_duration: {
      preparation: preparationDuration,
      chill: chillDuration,
      cooking: cookingDuration,
    },
    note,
    photo,
  },
  Content,
} = await import(`../../recipes/${id}.md`);

const totalCookingDuration = preparationDuration + chillDuration + cookingDuration

const cookingDurationDetail = {
  Total: totalCookingDuration,
  Préparation: preparationDuration,
  Repos: chillDuration,
  Cuisson: cookingDuration,
};
---

<BaseLayout title={title}>
  <main>
    <header>
      <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 space-y-4">
        <h1
          class="text-3xl font-bold leading-tight tracking-tight text-gray-900"
        >
          {title}
        </h1>

        <RecipeMetadata
          cookingDuration={totalCookingDuration}
          note={note}
          disableAnimation
        />
      </div>
    </header>
    <div class="mx-auto max-w-4xl w-full sm:px-6 lg:px-8">
      <div class="px-4 py-8 sm:px-0 space-y-6 md:space-y-12">
        <div class="flex justify-center">
          <img
            src={photo}
            alt=""
            class="aspect-video max-w-4xl w-full object-cover"
          />
        </div>

        <dl
          class="flex flex-wrap gap-4 justify-around rounded-2xl border border-gray-200 p-8"
        >
          {
            Object.entries(cookingDurationDetail).map(([label, duration]) => (
              <div class="flex space-x-1">
                <dt>{label}</dt>
                <dd class="font-medium">
                  {shortFormatCookingDuration(duration)}
                </dd>
              </div>
            ))
          }
        </dl>

        <div class="prose break-words">
          <Content />
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
