---
import RecipeMetadata from "../../components/RecipeMetadata.vue";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getSlugFromFileUrl } from "../../utils/get-slug";

export async function getStaticPaths() {
  const recipes = await Astro.glob("../../recipes/*.md");

  const pages = recipes.map(({ file }) => ({
    params: { id: getSlugFromFileUrl(file) },
  }));

  return pages;
}

const { id } = Astro.params;

const {
  frontmatter: { title, cooking_duration: cookingDuration, note, photo },
  Content,
} = await import(`../../recipes/${id}.md`);
---

<BaseLayout title={title}>
  <header>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 space-y-4">
      <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">
        {title}
      </h1>

      <RecipeMetadata
        cookingDuration={cookingDuration}
        note={note}
        disableAnimation
      />
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="px-4 py-8 sm:px-0">
        <div class="flex justify-center">
          <img src={photo} alt="" class="aspect-video max-w-4xl object-contain" />
        </div>

        <Content />
      </div>
    </div>
  </main>
</BaseLayout>
